__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

.venv/
venv/
.env*
.idea/
.vscode/

.DS_Store
Thumbs.db

runs*/
runs/
wandb/
tensorboard/
*.log
events.out.tfevents*

*.pt
*.pth
*.onnx
*.engine
*.trt

# KHÔNG đẩy dữ liệu thật
data/
dataset/
datasets/
images/
labels/
*.zip
*.tar*
